
.cursos h2{
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  border-bottom: 0.188rem solid #672471;
  display: inline-block;
  padding-bottom: 0.313rem;
  margin-top: 30px;
}
.cursos h3 {
  display: inline-block;
}

.cursos
{
	margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursos .subtitle-p {
  font-size: 1rem;
}

.curso-container{
  margin-top: 3.75rem;
  margin-bottom: 1.25rem;
  display: flex;
  border-radius: 1.625rem;
  border: solid black 1px;
}
.img-cursos{
  width: 40%;
  border-radius: 1.625rem;
  border: 0.063rem solid $maincolor;
}

.curso-descritivo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
}

.curso-descritivo h3{
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.25rem;

}
.curso-descritivo p{
  font-size: 1rem;
  word-wrap: break-word;
  white-space: normal;
}

.buttoncourses {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  padding: 0;

}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.buttoncourses:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.button_top:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
