.section-profile {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.container-profile {
  max-width: 87.5rem;
  width: 100%;
	gap: 6.25rem;
  display: flex;
}

.image-logo {
  flex: 1;
  overflow: hidden;
}


.image-logo img {
  width: 100%;
  height: auto;
  display: block;
}
.tatiimgmobile{
  display: none;
}

.content {
  flex: 1;
  padding: 1.25rem;
}

.content h1 {
	font-size: 4.2rem;
	font-weight: bold;
	text-transform: uppercase;
  letter-spacing: 0.375rem;
}

.content p {
	font-size: 2rem;
	letter-spacing: 0.25rem;
  color: black;
  opacity: 60%
}

.icons-div {
	margin-top: 2.5rem;
	display: flex;
	justify-content: space-between;
}
.iconh:hover {
	color: purple;
}
.iconh{
  font-size: 3.75rem; color: black;
}


.div-title img {
height: 2.813rem;
width: auto;
position: absolute;
top: -60%;
left: -3.5%;
}

.div-title {
  position: relative;
}
