
//Colors
$maincolor: #672471;
$purple: purple;
$white: #fff;
$black: #000;
$barcolor: #333;
$lightgrey: #FAFAFA;
$purpledark: #4b204b;
$lightborder: #E0E0E0;
$sliderborder: #ccc;
$opacit: #999;
$inputgroup: #d8e1e4;
$iconbox: #d4d4d4;
$lightpurple: #7e4386;



//Fonts
$montserrat: "Montserrat", sans-serif;
$pt: 'PT Serif', serif;

//Sizes
$f30: 30px;
$f25: 42px;
$f25: 25px;
$f20: 20px;
$f18: 18px;
$f17: 17px;
$f16: 16px;
$f15: 15px;
$f14: 14px;
$f13: 13px;
$f12: 12px;

